{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid" style="min-height: 100%">
        <div class="row">
            <nav class="col-md-2 sidebar" style="background-color: #e6e6e6">
                <div class="sidebar-sticky">
                    {% block menu_content %}
                    {% endblock menu_content %}
                </div>
            </nav>



            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content_layout %}
                {% endblock content_layout %}
            </main>
        </div>
    </div>

{% endblock content %}